@model IEnumerable<Monster>

@{
    //(System.Collections.Generic.List<string>)
    List<String> Monsters = (System.Collections.Generic.List<string>)ViewData["MonsterNames"];
    @foreach (var M in Monsters)
    {
        <h2>@M</h2>
    }
    
    
}

   